@font-face {
    font-family: 'BlueberrySans-Black';
    src: url('../fonts/BlueberrySans-Black.eot');
    src: url('../fonts/BlueberrySans-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlueberrySans-Black.woff2') format('woff2'),
        url('../fonts/BlueberrySans-Black.woff') format('woff'),
        url('../fonts/BlueberrySans-Black.ttf') format('truetype'),
        url('../fonts/BlueberrySans-Black.svg#BlueberrySans-Black') format('svg');
   
}

@font-face {
    font-family: 'BlueberrySans-Bold';
    src: url('../fonts/BlueberrySans-Bold.eot');
    src: url('../fonts/BlueberrySans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlueberrySans-Bold.woff2') format('woff2'),
        url('../fonts/BlueberrySans-Bold.woff') format('woff'),
        url('../fonts/BlueberrySans-Bold.ttf') format('truetype'),
        url('../fonts/BlueberrySans-Bold.svg#BlueberrySans-Bold') format('svg');
   
}

@font-face {
    font-family: 'BlueberrySans-Black';
    src: url('../fonts/BlueberrySans-Black_1.eot');
    src: url('../fonts/BlueberrySans-Black_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlueberrySans-Black_1.woff2') format('woff2'),
        url('../fonts/BlueberrySans-Black_1.woff') format('woff'),
        url('../fonts/BlueberrySans-Black_1.ttf') format('truetype'),
        url('../fonts/BlueberrySans-Black_1.svg#BlueberrySans-Black') format('svg');
   
}

@font-face {
    font-family: 'BlueberrySans-Bold';
    src: url('../fonts/BlueberrySans-Bold_1.eot');
    src: url('../fonts/BlueberrySans-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlueberrySans-Bold_1.woff2') format('woff2'),
        url('../fonts/BlueberrySans-Bold_1.woff') format('woff'),
        url('../fonts/BlueberrySans-Bold_1.ttf') format('truetype'),
        url('../fonts/BlueberrySans-Bold_1.svg#BlueberrySans-Bold') format('svg');

}

@font-face {
    font-family: 'BlueberrySans-Regular';
    src: url('../fonts/../fonts/BlueberrySans-Regular.eot');
    src: url('../fonts/../fonts/BlueberrySans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/BlueberrySans-Regular.woff2') format('woff2'),
        url('../fonts/../fonts/BlueberrySans-Regular.woff') format('woff'),
        url('../fonts/../fonts/BlueberrySans-Regular.ttf') format('truetype'),
        url('../fonts/../fonts/BlueberrySans-Regular.svg#BlueberrySans-Regular') format('svg');
  
}

@font-face {
    font-family: 'BlueberrySans-ExtraBold';
    src: url('../fonts/../fonts/BlueberrySans-ExtraBold.eot');
    src: url('../fonts/../fonts/BlueberrySans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/BlueberrySans-ExtraBold.woff2') format('woff2'),
        url('../fonts/../fonts/BlueberrySans-ExtraBold.woff') format('woff'),
        url('../fonts/../fonts/BlueberrySans-ExtraBold.ttf') format('truetype'),
        url('../fonts/../fonts/BlueberrySans-ExtraBold.svg#BlueberrySans-ExtraBold') format('svg');
   
}

@font-face {
    font-family: 'BlueberrySans-ExtraBold';
    src: url('../fonts/BlueberrySans-ExtraBold_1.eot');
    src: url('../fonts/BlueberrySans-ExtraBold_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlueberrySans-ExtraBold_1.woff2') format('woff2'),
        url('../fonts/BlueberrySans-ExtraBold_1.woff') format('woff'),
        url('../fonts/BlueberrySans-ExtraBold_1.ttf') format('truetype'),
        url('../fonts/BlueberrySans-ExtraBold_1.svg#BlueberrySans-ExtraBold') format('svg');
   
}

@font-face {
    font-family: 'BlueberrySans-Medium';
    src: url('../fonts/BlueberrySans-Medium.eot');
    src: url('../fonts/BlueberrySans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlueberrySans-Medium.woff2') format('woff2'),
        url('../fonts/BlueberrySans-Medium.woff') format('woff'),
        url('../fonts/BlueberrySans-Medium.ttf') format('truetype'),
        url('../fonts/BlueberrySans-Medium.svg#BlueberrySans-Medium') format('svg');
    
}

@font-face {
    font-family: 'BlueberrySans-Light';
    src: url('../fonts/BlueberrySans-Light.eot');
    src: url('../fonts/BlueberrySans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlueberrySans-Light.woff2') format('woff2'),
        url('../fonts/BlueberrySans-Light.woff') format('woff'),
        url('../fonts/BlueberrySans-Light.ttf') format('truetype'),
        url('../fonts/BlueberrySans-Light.svg#BlueberrySans-Light') format('svg');
   
}

@font-face {
    font-family: 'BlueberrySans-Medium';
    src: url('../fonts/BlueberrySans-Medium_1.eot');
    src: url('../fonts/BlueberrySans-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlueberrySans-Medium_1.woff2') format('woff2'),
        url('../fonts/BlueberrySans-Medium_1.woff') format('woff'),
        url('../fonts/BlueberrySans-Medium_1.ttf') format('truetype'),
        url('../fonts/BlueberrySans-Medium_1.svg#BlueberrySans-Medium') format('svg');
}

@font-face {
    font-family: 'BlueberrySans-Regular';
    src: url('../fonts/BlueberrySans-Regular_1.eot');
    src: url('../fonts/BlueberrySans-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlueberrySans-Regular_1.woff2') format('woff2'),
        url('../fonts/BlueberrySans-Regular_1.woff') format('woff'),
        url('../fonts/BlueberrySans-Regular_1.ttf') format('truetype'),
        url('../fonts/BlueberrySans-Regular_1.svg#BlueberrySans-Regular') format('svg');
    
}

@font-face {
    font-family: 'BlueberrySans-Light';
    src: url('../fonts/BlueberrySans-Light_1.eot');
    src: url('../fonts/BlueberrySans-Light_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlueberrySans-Light_1.woff2') format('woff2'),
        url('../fonts/BlueberrySans-Light_1.woff') format('woff'),
        url('../fonts/BlueberrySans-Light_1.ttf') format('truetype'),
        url('../fonts/BlueberrySans-Light_1.svg#BlueberrySans-Light') format('svg');
}


@font-face {
    font-family: 'SpaceGrotesk-Bold';
    src: url('../fonts/SpaceGrotesk-Bold.eot');
    src: url('../fonts/SpaceGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
        url('../fonts/SpaceGrotesk-Bold.woff') format('woff'),
        url('../fonts/SpaceGrotesk-Bold.ttf') format('truetype'),
        url('../fonts/SpaceGrotesk-Bold.svg#SpaceGrotesk-Bold') format('svg');
    
}
@font-face {
    font-family: 'WorkSans-Regular';
    src: url('../fonts/WorkSans-Regular.eot');
    src: url('../fonts/WorkSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WorkSans-Regular.woff2') format('woff2'),
        url('../fonts/WorkSans-Regular.woff') format('woff'),
        url('../fonts/WorkSans-Regular.ttf') format('truetype'),
        url('../fonts/WorkSans-Regular.svg#WorkSans-Regular') format('svg');
    
}


@font-face {
    font-family: 'Mulish-Bold';
    src: url('../fonts/Mulish-Bold.eot');
    src: url('../fonts/Mulish-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mulish-Bold.woff2') format('woff2'),
        url('../fonts/Mulish-Bold.woff') format('woff'),
        url('../fonts/Mulish-Bold.ttf') format('truetype'),
        url('../fonts/Mulish-Bold.svg#Mulish-Bold') format('svg');
}

@font-face {
    font-family: 'Mulish-Regular';
    src: url('../fonts/Mulish-Regular.eot');
    src: url('../fonts/Mulish-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mulish-Regular.woff2') format('woff2'),
        url('../fonts/Mulish-Regular.woff') format('woff'),
        url('../fonts/Mulish-Regular.ttf') format('truetype'),
        url('../fonts/Mulish-Regular.svg#Mulish-Regular') format('svg');
    
}

@font-face {
    font-family: 'Mulish-Light';
    src: url('../fonts/Mulish-Light.eot');
    src: url('../fonts/Mulish-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mulish-Light.woff2') format('woff2'),
        url('../fonts/Mulish-Light.woff') format('woff'),
        url('../fonts/Mulish-Light.ttf') format('truetype'),
        url('../fonts/Mulish-Light.svg#Mulish-Light') format('svg');
    
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fontd/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype'),
        url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
   
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.eot');
    src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-Bold.ttf') format('truetype'),
        url('../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.eot');
    src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('../fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
  
}


@font-face {
    font-family: 'Orbitron-Bold';
    src: url('../fonts/Orbitron-Bold.eot');
    src: url('../fonts/Orbitron-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Orbitron-Bold.woff2') format('woff2'),
        url('../fonts/Orbitron-Bold.woff') format('woff'),
        url('../fonts/Orbitron-Bold.ttf') format('truetype'),
        url('../fonts/Orbitron-Bold.svg#Orbitron-Bold') format('svg');
    
}

@font-face {
    font-family: 'Orbitron-SemiBold';
    src: url('../fonts/Orbitron-SemiBold.eot');
    src: url('../fonts/Orbitron-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Orbitron-SemiBold.woff2') format('woff2'),
        url('../fonts/Orbitron-SemiBold.woff') format('woff'),
        url('../fonts/Orbitron-SemiBold.ttf') format('truetype'),
        url('../fonts/Orbitron-SemiBold.svg#Orbitron-SemiBold') format('svg');
   
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype'),
        url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  
}


