/*------------------------------------------
        Font-Size Start Here
-------------------------------------------*/
$Font-size-80px: 80px;
$Font-size-81px: 81px;
$Font-size-16px: 16px;
$Font-size-20px: 20px;
$Font-size-18px: 18px;
$Font-size-14px: 14px;
$Font-size-12px: 12px;
$Font-size-16px: 16px;
$Font-size-40px: 40px;
$Font-size-24px: 24px;



/*------------------------------------------
    Line-Height Start Here
-------------------------------------------*/

$line-height-60px: 60px;
$line-height-48px: 48px;
$line-height-38px: 38px;
$line-height-100px: 100px;
$line-height-24px: 24px;
$line-height-22px: 22px;
$line-height-36px: 36px;
$line-height-56px: 56px;
$line-height-32px: 32px;
$line-height-28px: 28px;


/*=====================================
    Color Variable's
=====================================*/

$Primary-color:#F9C80E;
$Secondary-color: rgba(255, 255, 255, 0.1);;
$White-75:rgba(255, 255, 255, 0.75);
$black-00: #000000;
$white-45: rgba(255, 255, 255, 0.45);
$White:#FFFFFF;


/*=====================================
    Font-family Variable's
=====================================*/

$font-family-Poppins-SemiBold: "Poppins-SemiBold";
$font-family-Poppins-Bold: "Poppins-Bold";
$font-family-Poppins-Regular: "Poppins-Regular";
$font-family-Orbitron-Bold: "Orbitron-Bold";
$font-family-Orbitron-SemiBold: "Orbitron-SemiBold";
$font-family-Roboto-Medium: "Orbitron-Medium";

